I downloaded the complete taxonomy from Catalog of Life, and this script helps to clean it up. I'll do the rest by hand in BBEdit.

In [1]:
import datetime
import pathlib
import pandas as pd

In [16]:
# taxon = pd.read_csv('NameUsage.tsv', sep="\t", usecols=[5, 7, 8, 9, 11])
taxon = pd.read_csv('NameUsage.tsv', sep="\t", usecols=[5, 7])

In [17]:
taxon.head()

  col:scientificName col:rank
0        Phryganella    genus
1       Dictyacantha    genus
2       Chlamydaster    genus
3        Annandaleum    genus
4    Barbascalpellum    genus

In [40]:
len(taxon)

4340460

In [38]:
taxon.info(100)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4340460 entries, 0 to 4358538
Data columns (total 2 columns):
 #   Column              Dtype
---  ------              -----
 0   col:scientificName  object
 1   col:rank            object
dtypes: object(2)
memory usage: 99.3+ MB

In [39]:
# taxon.drop(taxon[taxon['col:rank']=='family'].index, inplace=True)
# taxon.drop(taxon[taxon['col:rank']=='superfamily'].index, inplace=True)
# taxon.drop(taxon[taxon['col:rank']=='infraorder'].index, inplace=True)
taxon.drop(taxon[taxon['col:rank']=='order'].index, inplace=True)

# I did a lof of these by hand in BBEdit after these few removals.

In [18]:
taxon.to_json("species.json")

In [46]:
taxon.to_csv("species.txt", index=False)